.about-section {
  /* background: #F2F2F2E8; */
  background-image: url('../../images/pop-up/about-and-popup.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .about-holder {
    padding: 85px 0px 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    /* About Content */
    .about-content {
      flex: 0 0 48%;
      max-width: 548px;
      h2 {
        margin-bottom: 25px;
        font-family: "Montserrat", sans-serif;
        font-size: 44px;
        font-weight: 700;
        line-height: 52.8px;
        text-align: left;
        color: var(--mint-color);

        opacity: 0;
        transform: translateX(-50px);
        animation-name: fadeInRightLeft; 
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timeline: view(400px 50px); 
      }
      p {
        margin: 22px 0px 22px;
        font-family: 'Montserrat', sans-serif;
        font-size: 19px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        opacity: 0;
        transform: translateX(-50px);
        animation-name: fadeInRightLeft; 
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timeline: view(400px 50px); 
        span {
          font-weight: 700;
        }
      }
      .gallery-open {
        position: relative;
        margin-top: 50px;
        padding: 16px 20px;
        border-radius: 8px;
        border: 1px solid var(--mint-color);
        background-color: #F2F2F2E8;
        color: var(--mint-color);
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        box-shadow: 4px 4px 10.2px 0px #91cffc79;  
        transition: .4s ease;

        opacity: 0;
        transform: translateX(-50px);
        animation-name: fadeInRightLeft; 
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timeline: view(600px 50px); 
        
        &:hover {
          cursor: pointer;
          background-color: var(--mint-color);
          color: #FFFFFF;
          box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.2);
          transition: .4s ease;
        }
      }

      /* Gallery Modal */
      .gallery-dialog {
        .gallery-dialog-header {
          .gallery-logo {

          }
          .gallery-close-btn {

          }
        }
        .gallery-items {
          img {

          }
        }
        .gallery-see-more {
          .gsm-btn {

          }
          .gsm-svg {

          }
        }
      }
    }

    /* About Image */
    .about-image {
      position: relative;
      /* Client Request */
      margin-bottom: 20px;
      /* Client Request */
      max-width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 25px;
      opacity: 0;
      animation-name: fadeIn; 
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timeline: view(400px 50px);       
      .img-holder {
        border-radius: 15px;
        overflow: hidden;
        max-width: 250px;
        img {
          transition: .3s ease;
          display: block;
          max-width: 100%;
          height: auto;
        }
        img:hover {
          transition: .3s ease;
          transform: scale(1.1);
          cursor: pointer;
        }
        .img-description {
          z-index: 2;
          position: absolute;
          bottom: -40px;
          color: var(--mint-color-btn);
          font-family: 'Montserrat', sans-serif;
          font-size: 13px;
          font-weight: 400;
          line-height: 20px;
        }
        .female-description {
          left: 25%;
          transform: translate(-50%);
        }
        .male-description {
          right: 25%;
          transform: translate(50%);
        }
      }
    }
    .about-image-desktop {
      display: flex;
    }
    .about-image-mobile {
      display: none;
    }
  }
  @media (max-width: 1179px) {
    .about-holder {
      flex-wrap: wrap;
      justify-content: center;
      .about-content {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .about-image {
        flex: 0 0 100%;
        max-width: 100%;    
        justify-content: center;    
      }
      .about-image-desktop {
        display: none;
      }
      .about-image-mobile {
        width: fit-content;
        margin: 40px auto;
        display: flex;
        padding-bottom: 25px;
        .img-holder {
          overflow: visible;
          position: relative;
          img {
            border-radius: 8px;
            &:hover {
              transform: scale(1);
            }
          }
          .female-description {
            bottom: -65px;
            left: 25%;
            transform: translate(-50%);
          }
          .male-description {
            bottom: -65px;
            right: 25%;
            transform: translate(50%);
          }
        }
      }
    }
  }
  @media (max-width: 550px) {
    background-attachment: unset;
    .about-holder {
      padding: 40px 15px 70px;
      overflow-x: clip;
      .about-content {
        h2 {
          color: #4E4E4E;
          font-size: 30px;
          line-height: 36px;
          text-align: center;
        }
        p {
          font-size: 18.46px;
          line-height: 22.15px;
          text-align: center;
          span {
            font-size: 19.46px;
          }
        }
        .gallery-open {
          margin: 35px auto 25px;
          display: block;
        }
      }
      .about-image {
        flex: 0 0 100%;
        max-width: 100%;    
        justify-content: center; 
        .img-holder {
          .img-description {
            font-size: 14px;
            width: 100%;
            color: black;
            font-weight: 500;
          }
          .female-description {
            left: 0%;
          }
          .male-description {
            right: 0%;
          }
        }   
      }
    }
  }
}