.blog {
    padding: 85px 0px 120px;
    background-image: url('../../images/information/korisne-informacije.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .blog-holder {
        max-width: 100%;
        padding-bottom: 0px !important;
        /* --swiffy-slider-nav-light: #07BCB3 !important; */
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 47.3px;
            font-weight: 700;
            line-height: 56.76px;
            text-align: center;
            color: #74D2B0;
        }
        .blog-list-holder {
            width: calc(100% - 120px);
            margin: 50px auto;
            .single-blog-card {
                .blog-img-holder {
                    margin-bottom: 20px;
                    display: block;
                    height: 189px;
                    overflow: hidden;
                    border-radius: 15px;
                    .blog-card-img {
                        object-fit: cover;
                        transition: .4s ease;
                        display: block;
                        min-width: 100%;
                        height: auto;
                    }
                    &:hover {
                        cursor: pointer;
                        .blog-card-img {
                            transition: .4s ease;
                            transform: scale(1.1);                            
                        }                        
                    }
                }
                .blog-card-header {
                    margin: 0px 15px;        
                    font-family: 'Montserrat', sans-serif;
                    font-size: 20.03px;
                    font-weight: 600;
                    line-height: 26.34px;
                    letter-spacing: -0.42982134222984314px;
                    text-align: left;
                    color: #767676;
                }
                .blog-card-content {
                    margin: 10px 15px 0px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 12.8px;
                    font-weight: 400;
                    line-height: 21.77px;
                    letter-spacing: -0.08230622112751007px;
                    text-align: left;
                    color: #767676;
                }
                .blog-card-btn {
                    display: inline-block;
                    margin: 20px 15px 0px 15px;  
                    padding: 10px 25px; 
                    font-family: 'Montserrat', sans-serif;
                    font-size: 12.71px;
                    font-weight: 700;
                    line-height: 21.77px;
                    letter-spacing: -0.16461244225502014px;
                    text-align: left;
                    color: #07BCB3;
                    text-decoration: none;
                    box-shadow: 0px 0px 0px 1.37px #EAEAEA;
                    box-shadow: 0px 2.74px 3.66px -1.83px #80889729;
                    box-shadow: 0px 0.91px 0.91px 0px #666D8033;
                    border-radius: 850px;
                    border: 1px solid #EAEAEA;
                    transition: .3s ease;
                    &:hover{
                        cursor: pointer;
                        transition: .3s ease;
                        border: 1px solid #07BCB3;
                    }
                }
            }   
        }
        .slider-nav-prev {
            filter: drop-shadow(0px 0px 0px transparent);
            &::after {
                display: none;
            }
        }
        .slider-nav-next {
            filter: drop-shadow(0px 0px 0px transparent);
            &::after {
                display: none;
            }
        }
    }
    @media (max-width: 1024px) {
        .blog-holder {
            width: 80%;
            .blog-list-holder {
                .single-blog-card {
                    .blog-img-holder {
                        height: auto;
                    }
                }
            }
        }
    }

    @media (max-width: 550px) {
        background-attachment: unset;
        padding: 55px 0px 0px;
        overflow: hidden;
        .blog-holder {
            width: 90%;
            h2 {
                color: #767676;
                font-size: 30px;
                line-height: 36px;
                text-align: center;
            }
            .blog-list-holder {
                width: calc(100% - 60px);
                .single-blog-card {
                    .blog-img-holder {
                        height: auto;
                    }
                    .blog-card-btn {
                        width: fit-content;
                        display: block;
                        margin: 20px auto;
                    }
                }
            }
            .slider-nav-next {
                /* background: linear-gradient(90deg, rgba(7, 188, 179, 0) 0%, rgba(116, 210, 176, 0.6) 100%); */
                right: -18px;
                svg {
                    path {
                        fill: #767676;
                    }
                }
            }
            .slider-nav-prev {
                left: -18px;
                svg {
                    path {
                        fill: #767676;
                    }
                }
            }
        }
    }
}