.contact {
  background-color: #efecec;
  padding: 58px 0px;
  .contact-holder {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    .contact-us-header {
      margin-bottom: 50px;
      flex: 1 0 100%;
      align-self: flex-end;
      text-align: left;
      font-family: 'Montserrat', sans-serif;
      font-size: 44.6px;
      font-weight: 700;
      line-height: 54.37px;
      color: #4E4E4E;
    }
    .contact-us-header-mobile {
      display: none;
    }
    .contact-content {
      max-width: 300px;
      display: flex;
      flex-direction: column; /* Ensure children stack vertically */
      min-height: 100%; /* Set a height for the container */
      .find-us, .email-us, .text-us, .call-us {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 0px;
        gap: 15px;
        border-bottom: .7px solid #D4E4F4;
        p {
          flex: 1 0 60%;
          font-family: 'Montserrat', sans-serif;
          font-size: 20.37px;
          font-weight: 400;
          line-height: 24.83px;
          text-align: left;
          color: var(--mint-color);
        }
        a {
          position: relative;
          /* margin-left: 45px; */
          /* font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 19.51px; */
          font-family: 'Montserrat', sans-serif;
          font-size: 20.37px;
          font-weight: 400;
          line-height: 24.83px;

          text-decoration: none;
          text-align: left;
          color: #4E4E4E;
          span {
            font-weight: bold;
          }
          &::after {
            transition: .3s ease;
            position: absolute;
            display: block;
            content: '';
            width: 0%;
            height: 1px;
            background-color: var(--mint-color);
          }
          &:hover {
            cursor: pointer;
            &::after {
              transition: .3s ease;
              width: 100%;
            }
          }
          &.phone-2 {
            flex: 0 0 100%;
            margin-top: 8px;
            margin-left: 47px;
          }
        }
      }
      .call-us {
        overflow: clip;
        padding: 0px 0px 20px;
      }
      .find-us {
        border-bottom: unset;
      }
      .our-social-media {
        margin-top: auto;
        display: inline-block;
        a {
          text-decoration: none;
        }
        svg {
          transition: .3s ease;
          margin: 0px 45px 0px 0px;
          &:hover {
            transition: .3s ease;
            scale: 1.1;
            cursor: pointer;
          }  
        }
      }
    }
    .contact-form {
      margin-top: -105px;
      border-radius: 15px;
      flex: 0 0 50%;
      /* max-width: 583px; */
      background: linear-gradient(45.68deg, rgba(126, 126, 126, 0.3) -62.17%, #74D2B0 62.41%);
      padding: 39px 25px;
      .form-heading {
        font-family: 'Montserrat', sans-serif;
        font-size: 31.3px;
        font-weight: 600;
        line-height: 38.15px;
        text-align: left;
        color: #FFF9FD;        
      }
      form {
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        .full-name, .email, .number {
          flex: 1 0 100%;
          position: relative;
          border-bottom: 0.5px solid #D4E4F4;
          padding: 10px 5px;
          label {
            width: 100%;
            z-index: 2;
            position: absolute;
            font-family: 'Montserrat', sans-serif;
            font-size: 15.65px;
            font-weight: 700;
            line-height: 19.08px;
            text-align: left;
            color: #FFF9FD;
            transition: font-size 0.2s ease, top 0.2s ease;
            top: 10px;
            &.input-active {
              font-size: 10px;
              top: -10px;
            }
            &:hover {
              cursor: pointer;
            }
          }
          input {
            width: 100%;
            border: none;
            background-color: transparent;
            font-family: 'Montserrat', sans-serif;
            font-size: 15.65px;
            font-weight: 700;
            line-height: 19.08px;
            text-align: left;
            color: #FFF9FD !important;
            &:autofill {
              color: #FFF9FD !important;
                  -webkit-box-shadow: 0 0 0px 1000px transparent inset; /* Removes autofill background */
                box-shadow: 0 0 0px 1000px transparent inset; /* Removes autofill background */
                transition: background-color 5000s ease-in-out 0s; /* Prevents flickering */

            }
            &:-webkit-autofill {
              color: #FFF9FD !important;
                  -webkit-box-shadow: 0 0 0px 1000px transparent inset; /* Removes autofill background */
                box-shadow: 0 0 0px 1000px transparent inset; /* Removes autofill background */
                transition: background-color 5000s ease-in-out 0s; /* Prevents flickering */
            }
            &:focus {
              outline: none; /* Optional */
              cursor: pointer;
            }
          }
        }
        .textarea {
          border-radius: 10px;
          flex: 1 0 100%;
          background: #FFFFFF;
          border: 2px solid transparent;
          textarea {
            padding: 7px 6px;
            border: none;
            width: 100%;
            font-family: 'Montserrat', sans-serif;
            font-size: 15.65px;
            font-weight: 700;
            line-height: 19.08px;
            color: var(--mint-color);
            outline: #74D2B0;
            &::placeholder {
              color: #FFFFFF;
            }
            &:focus {
              outline: #74D2B0;
            }
          }
        }
        .submit-loader {
          flex: 0 0 100%;
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          .form-submit {
            flex: 1 0 50%;
            padding: 13px 6px;
            background-color: #FFFFFF;
            border: none;
            border: 2px solid transparent;
            border-radius: 10px;
            font-family: 'Montserrat', sans-serif;
            font-size: 15.65px;
            font-weight: 700;
            line-height: 19.08px;
            text-align: center;
            color: var(--mint-color);
            transition: .3s ease;
            &:hover {
              transition: .3s ease;
              cursor: pointer;
              background-color: var(--mint-color);
              color: #FFFFFF;
            }
            &:focus, &:active {
              outline: #74D2B0;
            }
          }
          .loading-gif {
            display: none;
            position: absolute;
            width: 50px;
            height: 100%;
            top: 0px;
            right: 0px;
          }
        }
        .email-response {
          flex: 0 0 100%;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          font-weight: 600;
          line-height: 38.15px;
          text-align: left;
          color: #FFF9FD;   
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .contact-holder {
      gap: 55px;
      .contact-form {
        margin-top: 0px;
      }
      .contact-content {
        flex: 0 0 100%;
        max-width: 100%;
        .our-social-media {
          display: flex;
          justify-content: space-evenly;
          svg {
            margin-right: 0px;
          }
        }
      }
      .contact-form {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  
  @media (max-width: 550px) {
    padding: 50px 15px;
    .contact-holder {
      gap: 45px;
      .contact-us-header {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 0px;
        text-align: center;
        color: #4E4E4E;
      }
      .contact-us-header-mobile {
        display: block;
        color: #4E4E4E;
      }
      .contact-us-header-desktop {
        display: none;
      }  
      .contact-content {
        flex: 0 0 100%;
        max-width: 100%;
        span {
          a {
            color: #4E4E4E !important;
          }
        }
        .our-social-media {
          margin-top: 55px;
          display: flex;
          justify-content: space-evenly;
          svg {
            margin-right: 0px;
          }
        }
      }
      .contact-form {
        padding: 22px 18px;
        flex: 0 0 100%;
        max-width: 100%;
        #contact-form {
          margin-top: 10px;
          gap: 10px;
          .textarea {
            textarea {
              height: 120px;
            }
          }
          .submit-loader {
            button {
              padding: 8px 5px;
            }
          }
        }
        .form-heading {
          font-size: 26px;
        }
      }
    }
  }
}