.main-header {
  background-color: #71DECA;

  .header-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0px;
    .logo-link {
      display: block;
      max-width: 320px;
      height: auto;
    }
    .nav-list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 25px;
      list-style: none;
      .nav-link {
        .link {
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 20px;
          color: #FFFFFF;
          text-decoration: none;
        }
        .big-white {
          position: relative;
          border-radius: 8px;
          padding: 10px 15px;
          font-family: 'Montserrat', sans-serif;
          font-size: 15.16px;
          font-weight: 700;
          line-height: 18.2px;
          text-align: left;
          background: var(--Color-Bg-White);
          color: #24A3D9;
          /* Greska i ne valja */
          border: 3px solid #b2ffe9;
          margin-left: -15px;
        }
      }
    }
  }
}