.main-header {
  background-color: #71DECA;

  .header-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0px;
    .logo-link {
      display: block;
      max-width: 320px;
      height: auto;
    }
    .nav-list {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 25px;
      list-style: none;
      .nav-link {
        .link {
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          font-weight: 500;
          line-height: 20px;
          color: #FFFFFF;
          text-decoration: none;
        }
        .big-white {
          position: relative;
          border-radius: 8px;
          padding: 10px 15px;
          font-family: 'Montserrat', sans-serif;
          font-size: 15.16px;
          font-weight: 700;
          line-height: 18.2px;
          text-align: left;
          background: var(--Color-Bg-White);
          color: var(--mint-color);
          /* Greska i ne valja */
          border: 3px solid #b2ffe9;
          /* margin-left: -15px; */
        }
      }
    }
    .burger-menu {
      justify-content: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      position: absolute;
      left: 0px;
      top: 0px;
      background: #00000078;
      width: 100svw;
      height: 100svh;
      z-index: 10;

      .burger-menu-holder {
        position: relative;
        width: 100%;
        /* top: -500px; */
        transition: .3s ease;
        .burger-menu-header {
          height: fit-content;
          padding: 13px 20px;
          background: #74D2B0;
          border-bottom: 1px solid #E1E1E1;
          flex: 1 0 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .burger-nav {
          height: fit-content;
          background: #FFFFFF;
          flex: 1 0 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          list-style: none;
          .burger-nav-link {
            flex: 0 0 100%;
            border-bottom: 1px solid #0000000D;
            .link {
              width: 100%;
              display: inline-block;
              text-decoration: none;
              padding: 24px 32px;
              font-family: 'Montserrat', sans-serif;
              font-size: 18px;
              font-weight: 600;
              line-height: 18.2px;
              text-align: left;
              color: #222222;
            }
          }
        }
        .burger-cta {
          flex: 0 0 100%;
          background-color: #FFFFFF;
          display: flex;
          align-items: center;
          .cta-tel {
            text-decoration: none;
            display: inline-block;
            flex: 0 0 40%;
            padding: 24px 32px;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 18.2px;
            text-align: left;
            color: #FFFFFF;
            border: 5px solid #FFFFFFCC;
            background: #74D2B0;
            svg {
              pointer-events: none;
              vertical-align: middle;
              margin-right: 8px;
              margin-bottom: 2px;
              g {
                path {
                  fill: white;
                }
              }
            }
          }
          .link {
            text-decoration: none;
            display: inline-block;
            flex: 1 0 50%;
            padding: 24px 32px;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-weight: 600;
            line-height: 18.2px;
            text-align: left;
            color: #74D2B0;
            /* border: 5px solid #FFFFFFCC */
          }
        }
      }
    }
  }

  .burger-menu-open {
    display: none;
  }
  .burger-menu {
    display: none;
  }

  @media (max-width: 1279px) {
    .header-holder {
      .nav-list {
        display: none;
      } 
      .burger-menu-open {
        display: block;
      }
    }
  }

  @media (max-width: 1024px) {
    .header-holder {
      .logo-link {
        max-width: 176px;
        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      } 
    }
  }

  @media (max-width: 550px) {
    .header-holder {
      .logo-link {
        max-width: 176px;
        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      } 
      /*padding: 11px 15px;*/
    }
  }
}