.your-smile {
  padding: 65px 0px;
  background-color: #efecec;
  .your-smile-holder {
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 44px;
      font-weight: 700;
      line-height: 53px;
      text-align: center; 
      color: var(--mint-color);
      
      opacity: 0;
      transform: translateX(-50px);
      animation-name: fadeInRightLeft; 
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timeline: view(400px 50px); 

      span {
        color: #4E4E4E;
      }
    }
    .your-smile-p {
      font-family: 'Montserrat', sans-serif;
      font-size: 19px;
      font-weight: 400;
      line-height: 27.6px;
      text-align: center;
      max-width: 817px;
      margin: 23px auto 50px;

      opacity: 0;
      transform: translateX(-50px);
      animation-name: fadeInRightLeft; 
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timeline: view(400px 50px); 
    }
    .card-holder {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 36px;
      .single-card {
        overflow: hidden;
        position: relative;
        flex: 0 0 28%;
        transition: .3s ease;
        border-radius: 15px;
        opacity: 0;
        animation-name: fadeIn; 
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timeline: view(550px 10px); 
        
        .single-card-svg {
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
        }
        p {
          width: 100%;
          position: absolute;
          bottom: 25px;
          left: 50%;
          transform: translate(-50%);
          font-family: 'Montserrat', sans-serif;
          font-size: 24px;
          font-weight: 700;
          line-height: 28.8px;
          text-align: center;
          color: #fff;
          z-index: 2;
        }
        img {
          display: block;
          height: auto;
          max-width: 100%;
          transition: .4s ease;
          filter: blur(2px);
        }

        &:hover {
          cursor: pointer;
          transition: .4s ease;
          box-shadow: 4px 4px 9.2px 0px rgba(37, 148, 108, 0.48);
          img {
            position: relative;
            transform: scale(1.1);
            filter: blur(0px);
            z-index: 1;
          }
        }

        &:nth-of-type(9),&:nth-of-type(8), &:nth-of-type(7) {
          display: none;
        }
      } 
    }
    .your-smile-btn {
      position: relative;
      display: block;
      margin: 72px auto 0px;
      padding: 16px 20px;
      border-radius: 8px;
      border: 1px solid var(--mint-color);
      background-color: #ffffffe8;
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 20px;
      text-align: center;
      color: var(--mint-color);
      box-shadow: 4px 4px 10.2px 0px #91cffc79;  
      transition: 0.3s ease;
      &:hover {
        cursor: pointer;
        background-color: var(--mint-color);;
        color: #FFFFFF;
        box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.2);
        transition: 0.3s ease
      }
    }
  }
  @media (max-width: 1280px) {
    .your-smile-holder {
      .card-holder {
        flex-wrap: wrap;
        justify-content: space-evenly;
        .single-card {
          min-width: 310px;
          opacity: 1 !important;
        }
        img {
          filter: blur(0px) !important;
        }
      }
    }
  }
  @media (max-width: 550px) {
    padding: 43px 15px;
    .your-smile-holder {
      h2 {
        font-size: 30px;
        line-height: 36px;
        text-align: left;
        text-align: center;        
      }
      .your-smile-p {
        color: #4E4E4E;
        font-size: 18px;
        line-height: 18px;
        text-align: left;
        text-align: center;        
      }
      .card-holder {
        flex-wrap: wrap;
        justify-content: space-evenly;
        .single-card {
          flex: 0 0 100%;
          max-width: 85%;
          min-width: unset;
          img {
            min-width: 100%;
          }
          .single-card-svg {
            top: 40%;
          }
          p {
            font-size: 22px;
            bottom: 30px;
          }
          &:nth-of-type(6),&:nth-of-type(5), &:nth-of-type(4) {
            display: none;
          }
        }
      }
    }
  }
}