/* Varibales */
@import './layout/variables.css';
/* Sections */
@import './layout/header.css';
@import './layout/hero.css';
@import './layout/about-us.css';
@import './layout/your-smile.css';
@import './layout/blog.css';
@import './layout/contact-us.css';
@import './layout/footer.css';
/* Pop up */
@import './layout/pop-up.css';



/* Fonts */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}





/* Global */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  max-width: 1150px !important;
  margin: 0px auto  !important;
  @media (max-width: 550px) {
    width: 93%;
  }
}

.active-link {
  font-weight: 700 !important;
}

.burger-menu-active {
  display: flex !important;
  .burger-menu-holder {
    animation: burgerMenu .5s ease forwards;
  }
}




/* Define keyframes for the animation */
@keyframes fadeInRightLeft {
  0% {
      opacity: 0;
      transform: translateX(-50px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}


/* Define keyframes for the animation */
@keyframes fadeInLeftRight {
  0% {
      opacity: 0;
      transform: translateX(50px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

/* Define keyframes for the animation */
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes burgerMenu {
  0% {
    top: -500px;
  }
  100% {
    top: 0px;
  }
}